chromadb
beautifulsoup4
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langgraph
python-dotenv
rank-bm25
sentence-transformers
tqdm
unstructured[pdf]
pyyaml
