chromadb
beautifulsoup4
easyocr
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
python-dotenv
pypdf
rank-bm25
sentence-transformers
tqdm
unstructured[pdf]
